<div ng-cloak>
	<div class="row">
                	<div class="col-sm-3 col-sm-offset-3">
                	 
                	
                	<label for="sategorys">Category</label>
        			<ul>
        			<label ng-repeat="heritageCategory in heritagecategorys">
        			 <li>
        			 
 
  					<input type="checkbox" checklist-model="user.roles" checklist-value="heritageCategory.categoryName"> {{heritageCategory.categoryName}}
  				 
					</li>
					</label>
					
					</ul>
					</br>
					
					 	</div>
                	<div class="col-sm-3">
                	<label for="Language">Language</label>
                	 <select class="form-control" id="field_heritageLanguage" name="heritageLanguage" ng-model="textGeoTagHeritageEntity.heritageLanguageId" ng-options="heritageLanguage.id as heritageLanguage.heritageLanguage for heritageLanguage in heritagelanguages">
                <option value=""></option>
            </select>	
                	</div>
                	 
                	
                	<div class="row">
                	
                	<div id='map' ></div>
    
  <leaflet lf-center="heritagecenter" tiles="tiles" geojson="geojson" width="100%" height="480px" markers="markers" event-broadcast="events"></leaflet>
    <h1> </h1>
  <!--   <pre ng-bind="layers | json"></pre>- -->
    
    <div class="alert alert-success">        
    
   

    <span ng-if="showmsg == true">
  		 <strong> {{titleSelected}}  </strong>.
             
           <h3>{{descrSelected  }} </h3>   
           <h5>  {{urlLink   }} </h5> 
             
             <h5>Click to see {{media }} </h5> 
    </span>
    </div>
    
    <span ng-if="showmsg == false">
   
    </span> 
 
                	</div>
                	
<div>



</div>

<script>

</script>
