<div>
    <h2 translate="heritageMapperAppApp.heritageLanguage.home.title">HeritageLanguages</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="heritageLanguage.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="heritageMapperAppApp.heritageLanguage.home.createLabel">Create a new HeritageLanguage</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
       <div ng-show="isAdmin"> <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="heritageLanguage"><span translate="heritageMapperAppApp.heritageLanguage.heritageLanguage">HeritageLanguage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="heritageLanguage in heritageLanguages track by heritageLanguage.id">
                    <td><a ui-sref="heritageLanguage.detail({id:heritageLanguage.id})">{{heritageLanguage.id}}</a></td>
                    <td>{{heritageLanguage.heritageLanguage}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="heritageLanguage.detail({id:heritageLanguage.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="heritageLanguage.edit({id:heritageLanguage.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="heritageLanguage.delete({id:heritageLanguage.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
