
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myImageGeoTagHeritageEntityLabel" translate="heritageMapperAppApp.imageGeoTagHeritageEntity.home.createOrEditLabel">Create or edit a ImageGeoTagHeritageEntity</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="imageGeoTagHeritageEntity.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="heritageMapperAppApp.imageGeoTagHeritageEntity.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="imageGeoTagHeritageEntity.title"
                    required />
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="heritageMapperAppApp.imageGeoTagHeritageEntity.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="imageGeoTagHeritageEntity.description"
                    required ng-minlength="5" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.description.$error.minlength" translate="entity.validation.minlength" translate-value-min="5">
                    This field is required to be at least 5 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="heritageMapperAppApp.imageGeoTagHeritageEntity.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                    ng-model="imageGeoTagHeritageEntity.address"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="heritageMapperAppApp.imageGeoTagHeritageEntity.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="imageGeoTagHeritageEntity.latitude"
                    required />
            <div ng-show="editForm.latitude.$invalid">
                <p class="help-block"
                    ng-show="editForm.latitude.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.latitude.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="heritageMapperAppApp.imageGeoTagHeritageEntity.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="imageGeoTagHeritageEntity.longitude"
                    required />
            <div ng-show="editForm.longitude.$invalid">
                <p class="help-block"
                    ng-show="editForm.longitude.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.longitude.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="heritageMapperAppApp.imageGeoTagHeritageEntity.consolidatedTags" for="field_consolidatedTags">ConsolidatedTags</label>
            <input type="text" class="form-control" name="consolidatedTags" id="field_consolidatedTags"
                    ng-model="imageGeoTagHeritageEntity.consolidatedTags"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="heritageMapperAppApp.imageGeoTagHeritageEntity.urlOrfileLink" for="field_urlOrfileLink">UrlOrfileLink</label>
            <input type="text" class="form-control" name="urlOrfileLink" id="field_urlOrfileLink"
                    ng-model="imageGeoTagHeritageEntity.urlOrfileLink"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="setPhoto($file, imageGeoTagHeritageEntity)" ngf-pattern="'image/*'">
            <label class="control-label" translate="heritageMapperAppApp.imageGeoTagHeritageEntity.photo" for="field_photo">Photo</label>
            <div>
                <img data-ng-src="{{'data:' + imageGeoTagHeritageEntity.photoContentType + ';base64,' + imageGeoTagHeritageEntity.photo}}" style="max-height: 100px;" ng-if="imageGeoTagHeritageEntity.photo"/>
                <div class="help-block clearfix">
                    <span class="pull-left">{{imageGeoTagHeritageEntity.photoContentType}} {{byteSize(imageGeoTagHeritageEntity.photo)}}</span>
                    <button ng-click="imageGeoTagHeritageEntity.photo=null;imageGeoTagHeritageEntity.photoContentType=null;"
                            ng-if="imageGeoTagHeritageEntity.photo"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="setPhoto($file, imageGeoTagHeritageEntity)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="photo" id="field_photo"
                    ng-model="imageGeoTagHeritageEntity.photo"
                     />
            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                    ng-model="imageGeoTagHeritageEntity.photoContentType" />
        </div>

        <div class="form-group">
            <label translate="heritageMapperAppApp.imageGeoTagHeritageEntity.heritageCategory" for="field_heritageCategory">heritageCategory</label>
            <select class="form-control" id="field_heritageCategory" name="heritageCategory" ng-model="imageGeoTagHeritageEntity.heritageCategoryId" ng-options="heritageCategory.id as heritageCategory.categoryName for heritageCategory in heritagecategorys">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="heritageMapperAppApp.imageGeoTagHeritageEntity.heritageLanguage" for="field_heritageLanguage">heritageLanguage</label>
            <select class="form-control" id="field_heritageLanguage" name="heritageLanguage" ng-model="imageGeoTagHeritageEntity.heritageLanguageId" ng-options="heritageLanguage.id as heritageLanguage.heritageLanguage for heritageLanguage in heritagelanguages">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid " class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
