
<div>
    <h2><span translate="heritagemapperappApp.heritageApp.detail.title">HeritageApp</span> {{heritageApp.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="heritagemapperappApp.heritageApp.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{heritageApp.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="heritagemapperappApp.heritageApp.contact">Contact</span>
                </td>
                <td>
                    <span class="form-control-static">{{heritageApp.contact}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="heritagemapperappApp.heritageApp.region">region</span>
                </td>
                <td>
                    <span ng-repeat="region in heritageApp.regions">
                        <a class="form-control-static" ui-sref="heritageRegionName.detail({id: {{region.id}}})">{{region.name}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="heritagemapperappApp.heritageApp.group">group</span>
                </td>
                <td>
                    <span ng-repeat="group in heritageApp.groups">
                        <a class="form-control-static" ui-sref="heritageGroup.detail({id: {{group.id}}})">{{group.name}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="heritagemapperappApp.heritageApp.language">language</span>
                </td>
                <td>
                    <span ng-repeat="language in heritageApp.languages">
                        <a class="form-control-static" ui-sref="heritageLanguage.detail({id: {{language.id}}})">{{language.heritageLanguage}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="heritagemapperappApp.heritageApp.category">category</span>
                </td>
                <td>
                    <span ng-repeat="category in heritageApp.categorys">
                        <a class="form-control-static" ui-sref="heritageCategory.detail({id: {{category.id}}})">{{category.categoryName}}</a>{{$last ? '' : ', '}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
