


    <div class="modal-header">
        
         <h1>Add Slide</h1>  
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        
         <input type="text" class="form-control" id="id" name="id"
                    ng-model="titleSelected" readonly />
      
        {{descrSelected}}
        </p>
        
          <span ng-if="media === 'AUDIO'">
       	AUDIO	
       	  <audio controls>
 			<source src="{{urlLink}}"   type='audio/mp3'>
 
 				<p>Your user agent does not support the HTML5 Audio element.</p>
			</audio>

     	</span>
     	<span ng-if="media == 'VIDEO'">
       		VIDEO
       		  
 		<video controls>
       		<source ng-src="{{urlLink}}" height="200" width="250" type="video/mp4"/>
		</video>
 		
 
     	</span>
     	
     	<span ng-if="media == 'IMAGE'">
       		IMAGE
       		
       		<img src="{{urlLink}}" height="200" width="250"  >
     	</span>
     
     
    </div>
    <div class="modal-footer">
        
    
     
       <h1>Location</h1>
   
    </div>
    
    
<form name="editForm" role="form" novalidate ng-submit="addSlideToList()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myHeritageSlideLabel" translate="heritagemapperappApp.heritageSlide.home.createOrEditLabel">Create or edit a HeritageSlide</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="heritageSlide.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="heritagemapperappApp.heritageSlide.indexVal" for="field_indexVal">IndexVal</label>
            <input type="number" class="form-control" name="indexVal" id="field_indexVal"
                    ng-model="heritageSlide.indexVal"
                    required />
            <div ng-show="editForm.indexVal.$invalid">
                <p class="help-block"
                    ng-show="editForm.indexVal.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.indexVal.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="heritagemapperappApp.heritageSlide.notes" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                    ng-model="heritageSlide.notes"
                     />
        </div>
        
        <div class="form-group">
            <label translate="heritagemapperappApp.heritageSlide.heritageWalk" for="field_heritageWalk">heritageWalk</label>
            <select class="form-control" id="field_heritageWalk" name="heritageWalk" ng-model="heritageSlide.heritageWalkId" ng-options="heritageWalk.id as heritageWalk.name for heritageWalk in heritagewalks">
                <option value=""></option>
            </select>
        </div> 

       <!--  <div class="form-group">
            <label translate="heritagemapperappApp.heritageSlide.heritageMedia" for="field_heritageMedia">heritageMedia</label>
            <select class="form-control" id="field_heritageMedia" name="heritageMedia" ng-model="heritageSlide.heritageMediaId" ng-options="heritageMedia.id as heritageMedia.title for heritageMedia in heritagemedias">
                <option value=""></option>
            </select>
        </div>
        
        
         <div class="form-group">
            <label translate="heritagemapperappApp.heritageSlide.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="heritageSlide.userId" ng-options="user.id as user.login for user in users">
                <option value=""></option>
            </select>
        </div>
        -->
       
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
    

