<div>
    <h2 translate="heritagemapperappApp.heritageRegionName.home.title">HeritageRegionNames</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="heritageRegionName.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="heritagemapperappApp.heritageRegionName.home.createLabel">Create new HeritageRegionName
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="heritagemapperappApp.heritageRegionName.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="centerLatitude"><span translate="heritagemapperappApp.heritageRegionName.centerLatitude">CenterLatitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="centerLongitude"><span translate="heritagemapperappApp.heritageRegionName.centerLongitude">CenterLongitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="topLatitude"><span translate="heritagemapperappApp.heritageRegionName.topLatitude">TopLatitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="topLongitude"><span translate="heritagemapperappApp.heritageRegionName.topLongitude">TopLongitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bottomLatitude"><span translate="heritagemapperappApp.heritageRegionName.bottomLatitude">BottomLatitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bottomLongitude"><span translate="heritagemapperappApp.heritageRegionName.bottomLongitude">BottomLongitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="heritageRegionName in heritageRegionNames track by heritageRegionName.id">
                    <td><a ui-sref="heritageRegionName.detail({id:heritageRegionName.id})">{{heritageRegionName.id}}</a></td>
                    <td>{{heritageRegionName.name}}</td>
                    <td>{{heritageRegionName.centerLatitude}}</td>
                    <td>{{heritageRegionName.centerLongitude}}</td>
                    <td>{{heritageRegionName.topLatitude}}</td>
                    <td>{{heritageRegionName.topLongitude}}</td>
                    <td>{{heritageRegionName.bottomLatitude}}</td>
                    <td>{{heritageRegionName.bottomLongitude}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="heritageRegionName.detail({id:heritageRegionName.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="heritageRegionName.edit({id:heritageRegionName.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="heritageRegionName.delete({id:heritageRegionName.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
