<div>
    <h2 translate="heritagemapperappApp.heritageWalk.home.title">HeritageWalks</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="heritageWalk.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="heritagemapperappApp.heritageWalk.home.createLabel">Create new HeritageWalk
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="heritagemapperappApp.heritageWalk.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="background"><span translate="heritagemapperappApp.heritageWalk.background">Background</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userLogin"><span translate="heritagemapperappApp.heritageWalk.user">user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="heritageWalk in heritageWalks track by heritageWalk.id">
                    <td><a ui-sref="heritageWalk.detail({id:heritageWalk.id})">{{heritageWalk.id}}</a></td>
                    <td>{{heritageWalk.name}}</td>
                    <td>{{heritageWalk.background}}</td>
                    <td>
                        {{heritageWalk.userLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="heritageWalk.detail({id:heritageWalk.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="heritageWalk.edit({id:heritageWalk.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="heritageWalk.delete({id:heritageWalk.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
