<div>
    <h4 translate="heritageMapperAppApp.audioGeoTagHeritageEntity.home.title">AudioGeoTagHeritageEntitys</h4>
    <jh-alert></jh-alert>
    <div class="container">

 <div id='map'></div>
        <div class="row">

            <div class="col-md-10">
                    <leaflet lf-center="center" tiles="tiles" geojson="geojson" width="115%" height="600px" markers="markers" event-broadcast="events"></leaflet>
  <pre ng-bind="layers | json"></pre>
                  <h4> Latitude  {{  lat2 }}</h4>
                <h4> Longitude  {{ lng2 }}</h4> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="audioGeoTagHeritageEntity.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="heritageMapperAppApp.audioGeoTagHeritageEntity.home.createLabel">Create a new AudioGeoTagHeritageEntity</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
      <div ng-show="isAdmin"> 
       <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span translate="heritageMapperAppApp.audioGeoTagHeritageEntity.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="heritageMapperAppApp.audioGeoTagHeritageEntity.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="address"><span translate="heritageMapperAppApp.audioGeoTagHeritageEntity.address">Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="latitude"><span translate="heritageMapperAppApp.audioGeoTagHeritageEntity.latitude">Latitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longitude"><span translate="heritageMapperAppApp.audioGeoTagHeritageEntity.longitude">Longitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="consolidatedTags"><span translate="heritageMapperAppApp.audioGeoTagHeritageEntity.consolidatedTags">ConsolidatedTags</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="urlOrfileLink"><span translate="heritageMapperAppApp.audioGeoTagHeritageEntity.urlOrfileLink">UrlOrfileLink</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="audioFile"><span translate="heritageMapperAppApp.audioGeoTagHeritageEntity.audioFile">AudioFile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="heritageCategoryCategoryName"><span translate="heritageMapperAppApp.audioGeoTagHeritageEntity.heritageCategory">heritageCategory</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="heritageLanguageHeritageLanguage"><span translate="heritageMapperAppApp.audioGeoTagHeritageEntity.heritageLanguage">heritageLanguage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="audioGeoTagHeritageEntity in audioGeoTagHeritageEntitys track by audioGeoTagHeritageEntity.id">
                    <td><a ui-sref="audioGeoTagHeritageEntity.detail({id:audioGeoTagHeritageEntity.id})">{{audioGeoTagHeritageEntity.id}}</a></td>
                    <td>{{audioGeoTagHeritageEntity.title}}</td>
                    <td>{{audioGeoTagHeritageEntity.description}}</td>
                    <td>{{audioGeoTagHeritageEntity.address}}</td>
                    <td>{{audioGeoTagHeritageEntity.latitude}}</td>
                    <td>{{audioGeoTagHeritageEntity.longitude}}</td>
                    <td>{{audioGeoTagHeritageEntity.consolidatedTags}}</td>
                    <td>{{audioGeoTagHeritageEntity.urlOrfileLink}}</td>
                    <td>{{abbreviate(audioGeoTagHeritageEntity.audioFile)}} {{audioGeoTagHeritageEntity.audioFileContentType}} {{byteSize(audioGeoTagHeritageEntity.audioFile)}}</td>
                    <td>
                        <a ui-sref="heritageCategory.detail({id:audioGeoTagHeritageEntity.heritageCategoryId})">{{audioGeoTagHeritageEntity.heritageCategoryCategoryName}}</a>
                    </td>
                    <td>
                        <a ui-sref="heritageLanguage.detail({id:audioGeoTagHeritageEntity.heritageLanguageId})">{{audioGeoTagHeritageEntity.heritageLanguageHeritageLanguage}}</a>
                    </td>
                    <td>
                        <button type="submit" ui-sref="audioGeoTagHeritageEntity.detail({id:audioGeoTagHeritageEntity.id})" class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit" ui-sref="audioGeoTagHeritageEntity.edit({id:audioGeoTagHeritageEntity.id})" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit" ui-sref="audioGeoTagHeritageEntity.delete({id:audioGeoTagHeritageEntity.id})" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>